/* styles.css */
@media (max-width: 800px) {
    /* Add styles for screens smaller than 600px */
    .MuiTypography-h4 {
      font-size: 3.8rem;
    }
  
    .MuiTypography-body1 {
      font-size: 4rem;
    }
  }
  .p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    animation: backgroundAnimation 10s infinite alternate;
  }
  
  .background-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;/*#47E6B1 50%, #272643 100%, #4D8AF0 100%);*/
    background: linear-gradient(to bottom, #47E6B1 40%, #272643 100%, #4D8AF0 100%);
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes backgroundAnimation {
    0% {
      background: linear-gradient(to bottom right, #4285f4, #34a853, #fbbc05, #ea4335);
    }
    25% {
      background: linear-gradient(to bottom right, #ea4335, #4285f4, #34a853, #fbbc05);
    }
    50% {
      background: linear-gradient(to bottom right, #fbbc05, #ea4335, #4285f4, #34a853);
    }
    75% {
      background: linear-gradient(to bottom right, #34a853, #fbbc05, #ea4335, #4285f4);
    }
    100% {
      background: linear-gradient(to bottom right, #4285f4, #34a853, #fbbc05, #ea4335);
    }
  }

  